USE [online_Exame]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Crs_ID] [int] NOT NULL,
	[Cr_Name] [varchar](50) NULL,
 CONSTRAINT [PK__Courses__56CAA5F5DF7F67BE] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Dept_ID] [int] NOT NULL,
	[Dept_Name] [varchar](20) NULL,
	[Dept_Description] [varchar](100) NULL,
	[Dept_Location] [varchar](100) NULL,
	[Mgr_ID] [int] NULL,
	[Mgr_HrieDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Dept_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[Ex_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ex_Name] [varchar](50) NULL,
 CONSTRAINT [PK__Exam__410CF9172847BA0A] PRIMARY KEY CLUSTERED 
(
	[Ex_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Answers]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Answers](
	[Ex_ID] [int] NOT NULL,
	[St_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
	[St_Answer] [varchar](300) NOT NULL,
 CONSTRAINT [PK_Exam_Answers] PRIMARY KEY CLUSTERED 
(
	[Ex_ID] ASC,
	[St_ID] ASC,
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Questions]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Questions](
	[Exam_ID] [int] NOT NULL,
	[Question_ID] [int] NOT NULL,
 CONSTRAINT [PK_Exam_Questions] PRIMARY KEY CLUSTERED 
(
	[Exam_ID] ASC,
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ins_Crs]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ins_Crs](
	[Crs_ID] [int] NOT NULL,
	[Instructor_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ins_Crs] PRIMARY KEY CLUSTERED 
(
	[Crs_ID] ASC,
	[Instructor_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instructor]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instructor](
	[Ins_ID] [int] NOT NULL,
	[Ins_Name] [varchar](20) NULL,
	[Ins_Degree] [varchar](20) NULL,
	[Ins_Salary] [int] NULL,
	[Dept_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Ins_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question_Choices]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question_Choices](
	[Question_ID] [int] NOT NULL,
	[Answer-1] [varchar](300) NULL,
	[Answer-2] [varchar](300) NULL,
	[Answer-3] [varchar](300) NULL,
	[Answer-4] [varchar](300) NULL,
 CONSTRAINT [PK_Question_Choices_1] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[Question_ID] [int] IDENTITY(443,1) NOT NULL,
	[Crs_ID] [int] NULL,
	[Q_Type] [int] NULL,
	[Q_Statement] [varchar](300) NULL,
	[Model_Answer] [varchar](300) NULL,
	[Q_Code] [varchar](300) NULL,
 CONSTRAINT [PK__Question__B0B2E4C6C08E80FC] PRIMARY KEY CLUSTERED 
(
	[Question_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sheet1$]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sheet1$](
	[Question_ID] [float] NULL,
	[answers/0] [nvarchar](255) NULL,
	[answers/1] [nvarchar](255) NULL,
	[answers/2] [nvarchar](255) NULL,
	[answers/3] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stud_Course]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stud_Course](
	[St_ID] [int] NOT NULL,
	[Crs_ID] [int] NOT NULL,
	[Instructor_ID] [int] NULL,
	[St_Grade] [real] NULL,
 CONSTRAINT [PK_Stud_Course] PRIMARY KEY CLUSTERED 
(
	[St_ID] ASC,
	[Crs_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[St_ID] [int] NOT NULL,
	[St_Name] [varchar](50) NULL,
	[St_phone] [int] NULL,
	[St_Email] [varchar](50) NULL,
	[Street] [varchar](50) NULL,
	[city] [varchar](20) NULL,
	[Dept_ID] [int] NULL,
	[password] [varchar](50) NULL,
 CONSTRAINT [PK__Student__B9034F938A42EAC2] PRIMARY KEY CLUSTERED 
(
	[St_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topic]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topic](
	[Topic_ID] [int] NOT NULL,
	[Topic_Name] [varchar](20) NULL,
	[Topic_Desc] [varchar](40) NULL,
	[Crs_ID] [int] NULL,
 CONSTRAINT [PK_Topic] PRIMARY KEY CLUSTERED 
(
	[Topic_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Courses] ([Crs_ID], [Cr_Name]) VALUES (1, N'HTML')
INSERT [dbo].[Courses] ([Crs_ID], [Cr_Name]) VALUES (2, N'CSS')
INSERT [dbo].[Courses] ([Crs_ID], [Cr_Name]) VALUES (3, N'JS')
GO
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Description], [Dept_Location], [Mgr_ID], [Mgr_HrieDate]) VALUES (10, N'SWA', NULL, NULL, 1, NULL)
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Description], [Dept_Location], [Mgr_ID], [Mgr_HrieDate]) VALUES (20, N'PD', NULL, NULL, NULL, NULL)
INSERT [dbo].[Department] ([Dept_ID], [Dept_Name], [Dept_Description], [Dept_Location], [Mgr_ID], [Mgr_HrieDate]) VALUES (30, N'UI', NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Exam] ON 

INSERT [dbo].[Exam] ([Ex_ID], [Ex_Name]) VALUES (1, N'DS')
INSERT [dbo].[Exam] ([Ex_ID], [Ex_Name]) VALUES (40, N'CSS')
INSERT [dbo].[Exam] ([Ex_ID], [Ex_Name]) VALUES (42, N'CSS')
SET IDENTITY_INSERT [dbo].[Exam] OFF
GO
INSERT [dbo].[Exam_Answers] ([Ex_ID], [St_ID], [Question_ID], [St_Answer]) VALUES (1, 1, 22, N'Array')
INSERT [dbo].[Exam_Answers] ([Ex_ID], [St_ID], [Question_ID], [St_Answer]) VALUES (40, 1, 184, N'Inline')
INSERT [dbo].[Exam_Answers] ([Ex_ID], [St_ID], [Question_ID], [St_Answer]) VALUES (40, 1, 192, N'alpha-spacing')
GO
INSERT [dbo].[Exam_Questions] ([Exam_ID], [Question_ID]) VALUES (1, 22)
INSERT [dbo].[Exam_Questions] ([Exam_ID], [Question_ID]) VALUES (1, 32)
INSERT [dbo].[Exam_Questions] ([Exam_ID], [Question_ID]) VALUES (1, 38)
GO
INSERT [dbo].[Ins_Crs] ([Crs_ID], [Instructor_ID]) VALUES (1, 10)
INSERT [dbo].[Ins_Crs] ([Crs_ID], [Instructor_ID]) VALUES (2, 3)
INSERT [dbo].[Ins_Crs] ([Crs_ID], [Instructor_ID]) VALUES (3, 7)
GO
INSERT [dbo].[Instructor] ([Ins_ID], [Ins_Name], [Ins_Degree], [Ins_Salary], [Dept_ID]) VALUES (1, N'Eman', N'PHD', 20000, 10)
INSERT [dbo].[Instructor] ([Ins_ID], [Ins_Name], [Ins_Degree], [Ins_Salary], [Dept_ID]) VALUES (2, N'Bassant', N'Master', 10000, 20)
INSERT [dbo].[Instructor] ([Ins_ID], [Ins_Name], [Ins_Degree], [Ins_Salary], [Dept_ID]) VALUES (3, N'Raouf', N'Master', 9000, 30)
GO
INSERT [dbo].[Question_Choices] ([Question_ID], [Answer-1], [Answer-2], [Answer-3], [Answer-4]) VALUES (1, N'Inline', N'Internal', N'External', N'None of the above')
INSERT [dbo].[Question_Choices] ([Question_ID], [Answer-1], [Answer-2], [Answer-3], [Answer-4]) VALUES (2, N'<?-- -->', N'<!-- -->', N'<!-- --!>', N'</-- -->')
INSERT [dbo].[Question_Choices] ([Question_ID], [Answer-1], [Answer-2], [Answer-3], [Answer-4]) VALUES (3, N'<p style=”backgroundColor: #a7b8c9”><p>', N'<p style=”background-color= #a7b8c9”></p>', N'<p style=”background-color: #a7b8c9”></p>', N'<p style=”color: #a7b8c9></p>')
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([Question_ID], [Crs_ID], [Q_Type], [Q_Statement], [Model_Answer], [Q_Code]) VALUES (1, 1, 0, N'If you have used inline, internal, and external all the 3 stylings in HTML for a single element then which style will be applied?', N'Inline', NULL)
INSERT [dbo].[Questions] ([Question_ID], [Crs_ID], [Q_Type], [Q_Statement], [Model_Answer], [Q_Code]) VALUES (2, 1, 0, N'Comments in HTML is done by:', N'<!-- -->', NULL)
INSERT [dbo].[Questions] ([Question_ID], [Crs_ID], [Q_Type], [Q_Statement], [Model_Answer], [Q_Code]) VALUES (3, 1, 0, N'Which of the following is the correct HTML syntax for adding background color?', N'<p style=”background-color: #a7b8c9”></p>', NULL)
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
INSERT [dbo].[Sheet1$] ([Question_ID], [answers/0], [answers/1], [answers/2], [answers/3]) VALUES (1, N'Inline', N'Internal', N'External', N'None of the above')
INSERT [dbo].[Sheet1$] ([Question_ID], [answers/0], [answers/1], [answers/2], [answers/3]) VALUES (2, N'<?-- -->', N'<!-- -->', N'<!-- --!>', N'</-- -->')
INSERT [dbo].[Sheet1$] ([Question_ID], [answers/0], [answers/1], [answers/2], [answers/3]) VALUES (3, N'<p style=”backgroundColor: #a7b8c9”><p>', N'<p style=”background-color= #a7b8c9”></p>', N'<p style=”background-color: #a7b8c9”></p>', N'<p style=”color: #a7b8c9></p>')
GO
INSERT [dbo].[Stud_Course] ([St_ID], [Crs_ID], [Instructor_ID], [St_Grade]) VALUES (1, 1, 10, 90)
INSERT [dbo].[Stud_Course] ([St_ID], [Crs_ID], [Instructor_ID], [St_Grade]) VALUES (1, 2, 3, 85)
INSERT [dbo].[Stud_Course] ([St_ID], [Crs_ID], [Instructor_ID], [St_Grade]) VALUES (1, 3, 7, 60.0000038)
GO
INSERT [dbo].[Student] ([St_ID], [St_Name], [St_phone], [St_Email], [Street], [city], [Dept_ID], [password]) VALUES (1, N'Ahmed Mohamed', 1234567889, N'ahmed.m@gmail.com', N'Salem Salem', N'Cairo', 10, N'123456789')
INSERT [dbo].[Student] ([St_ID], [St_Name], [St_phone], [St_Email], [Street], [city], [Dept_ID], [password]) VALUES (2, N'Amr Ghoniem', 1069225715, N'amr.gh@gmail.com', N'Hilton', N'Mansoura', 20, N'123')
INSERT [dbo].[Student] ([St_ID], [St_Name], [St_phone], [St_Email], [Street], [city], [Dept_ID], [password]) VALUES (3, N'Magdy  Ahmed  ', 1122448731, N'magdy.a@gmail.com', N'Mohamed Hagag', N'Cairo', 10, N'123')
GO
INSERT [dbo].[Topic] ([Topic_ID], [Topic_Name], [Topic_Desc], [Crs_ID]) VALUES (1, N'Table', N'How to handle tables in HTML', 1)
INSERT [dbo].[Topic] ([Topic_ID], [Topic_Name], [Topic_Desc], [Crs_ID]) VALUES (2, N'Form', N'How to handle Forms in HTML', 1)
INSERT [dbo].[Topic] ([Topic_ID], [Topic_Name], [Topic_Desc], [Crs_ID]) VALUES (3, N'Image', N'Learn how to insert images in HTML file', 1)
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_Department_Instructor] FOREIGN KEY([Mgr_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_Department_Instructor]
GO
ALTER TABLE [dbo].[Exam_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Answers_Exam] FOREIGN KEY([Ex_ID])
REFERENCES [dbo].[Exam] ([Ex_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exam_Answers] CHECK CONSTRAINT [FK_Exam_Answers_Exam]
GO
ALTER TABLE [dbo].[Exam_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Answers_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exam_Answers] CHECK CONSTRAINT [FK_Exam_Answers_Questions]
GO
ALTER TABLE [dbo].[Exam_Answers]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Answers_Student] FOREIGN KEY([St_ID])
REFERENCES [dbo].[Student] ([St_ID])
GO
ALTER TABLE [dbo].[Exam_Answers] CHECK CONSTRAINT [FK_Exam_Answers_Student]
GO
ALTER TABLE [dbo].[Exam_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Questions_Exam] FOREIGN KEY([Exam_ID])
REFERENCES [dbo].[Exam] ([Ex_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exam_Questions] CHECK CONSTRAINT [FK_Exam_Questions_Exam]
GO
ALTER TABLE [dbo].[Exam_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Questions_Questions] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Exam_Questions] CHECK CONSTRAINT [FK_Exam_Questions_Questions]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Courses] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Courses] ([Crs_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Courses]
GO
ALTER TABLE [dbo].[Ins_Crs]  WITH CHECK ADD  CONSTRAINT [FK_Ins_Crs_Instructor] FOREIGN KEY([Instructor_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Ins_Crs] CHECK CONSTRAINT [FK_Ins_Crs_Instructor]
GO
ALTER TABLE [dbo].[Instructor]  WITH CHECK ADD  CONSTRAINT [FK_Instructor_Department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Instructor] CHECK CONSTRAINT [FK_Instructor_Department]
GO
ALTER TABLE [dbo].[Question_Choices]  WITH CHECK ADD  CONSTRAINT [FK_Question_Choices_Questions1] FOREIGN KEY([Question_ID])
REFERENCES [dbo].[Questions] ([Question_ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Question_Choices] CHECK CONSTRAINT [FK_Question_Choices_Questions1]
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Courses] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Courses] ([Crs_ID])
GO
ALTER TABLE [dbo].[Questions] CHECK CONSTRAINT [FK_Questions_Courses]
GO
ALTER TABLE [dbo].[Stud_Course]  WITH CHECK ADD  CONSTRAINT [FK_Stud_Course_Courses] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Courses] ([Crs_ID])
GO
ALTER TABLE [dbo].[Stud_Course] CHECK CONSTRAINT [FK_Stud_Course_Courses]
GO
ALTER TABLE [dbo].[Stud_Course]  WITH CHECK ADD  CONSTRAINT [FK_Stud_Course_Instructor] FOREIGN KEY([Instructor_ID])
REFERENCES [dbo].[Instructor] ([Ins_ID])
GO
ALTER TABLE [dbo].[Stud_Course] CHECK CONSTRAINT [FK_Stud_Course_Instructor]
GO
ALTER TABLE [dbo].[Stud_Course]  WITH CHECK ADD  CONSTRAINT [FK_Stud_Course_Student] FOREIGN KEY([St_ID])
REFERENCES [dbo].[Student] ([St_ID])
GO
ALTER TABLE [dbo].[Stud_Course] CHECK CONSTRAINT [FK_Stud_Course_Student]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Department] FOREIGN KEY([Dept_ID])
REFERENCES [dbo].[Department] ([Dept_ID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Department]
GO
ALTER TABLE [dbo].[Topic]  WITH CHECK ADD  CONSTRAINT [FK_Topic_Courses] FOREIGN KEY([Crs_ID])
REFERENCES [dbo].[Courses] ([Crs_ID])
GO
ALTER TABLE [dbo].[Topic] CHECK CONSTRAINT [FK_Topic_Courses]
GO
/****** Object:  StoredProcedure [dbo].[exam_answer]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[exam_answer]
    @exam_ID INT,
    @st_ID  int,
	@q_ID int, 
	@answer varchar(300)
AS
BEGIN
declare @std_name varchar(50)
set @std_name = 
			(select Student.St_Name from Student 
			where Student.St_ID = @st_ID)
    BEGIN TRY
        IF (@exam_ID IS NULL OR @st_ID IS NULL OR @q_ID IS NULL )
            RAISERROR('exam_ID, this data are required', 16, 1)
        ELSE
            -- Insert the answers into the answers table
            INSERT INTO Exam_Answers(Ex_ID,St_ID,Question_ID,St_Answer)
            VALUES (@exam_ID,@st_ID,@q_ID,@answer)

            SELECT 'All your answers has been registered for exam id ' + CAST(@exam_ID AS VARCHAR) + ' and the student name is '+ @std_name
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[exam_correction]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[exam_correction]
	@Ex_ID int, @St_ID int
as
begin
	begin try
		IF (@Ex_ID IS NULL OR @St_ID IS NULL )
            RAISERROR('Ex_ID, St_ID', 16, 1)
		ELSE
			declare @grade int, @total int
			set @grade = 0
			set @total = 0

			declare @Crs_ID int
			select distinct @Crs_ID = Crs_ID
			from Exam_Questions EQ inner join Exam E 
			on EQ.Exam_ID = E.Ex_ID inner join Questions Q
			on EQ.Question_ID = Q.Question_ID
			where E.Ex_ID = @Ex_ID
			

			declare c1 cursor
			for
				select ans.Question_ID, ans.St_Answer, Q.Model_Answer
				from Exam_Answers ans inner join Questions Q
				on Q.Question_ID = ans.Question_ID
				where ans.Ex_ID = @Ex_ID and ans.St_ID = @St_ID
			for read only

			declare @Q_ID int, @St_ans varchar(20), @Model_ans varchar(20)
			open c1
			fetch c1 into @Q_ID, @St_ans, @Model_ans
			while @@FETCH_STATUS = 0
				begin
					set @total = @total + 1
					if (@St_ans = @Model_ans)
						set @grade = @grade + 1
					fetch c1 into @Q_ID, @St_ans, @Model_ans
				end
			close c1
			deallocate c1

			
			declare @percent real = ((convert(real,@grade) / convert(real,@total) )* 100)
			update Stud_Course 
			set St_Grade = @percent
			where St_ID = @St_ID and Crs_ID = @Crs_ID;

			select @Ex_ID as Ex_ID,
				   @St_ID as St_ID,
				   @grade as grade,
				   @total as total,
				   @percent as [Percentage]
	end try
	BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
end
GO
/****** Object:  StoredProcedure [dbo].[generate_exam]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[generate_exam]
    @Crs_ID INT,
    @num_mcq INT = 7,
    @num_tf INT = 3
AS
BEGIN
    DECLARE @exam_ID INT
	declare @crs_name varchar(50)
    BEGIN TRY
        IF (@Crs_ID IS NULL OR @num_mcq IS NULL OR @num_tf IS NULL)
            RAISERROR('Crs_ID, num_mcq, num_tf are required', 16, 1)
        ELSE
            -- Insert a new exam into the exam table and get the generated ID

			set @crs_name = 
			(select Courses.Cr_Name from Courses 
			where Courses.Crs_ID = @Crs_ID)

			INSERT INTO Exam (Ex_Name) VALUES (@crs_name)
            SET @exam_ID = SCOPE_IDENTITY()
			
            -- Select the desired number of random MCQ questions
            INSERT INTO Exam_Questions(Exam_ID, Question_ID)
            SELECT @exam_ID, mcq_questions.Question_ID
            FROM (
                SELECT TOP (@num_mcq) question_ID
                FROM Questions
                WHERE Crs_ID = @Crs_ID AND Q_Type = 0
                ORDER BY NEWID()
            ) mcq_questions

            -- Select the desired number of random true/false questions
           INSERT INTO Exam_Questions(Exam_ID, Question_ID)
            SELECT @exam_ID, tf_questions.Question_ID
            FROM (
                SELECT TOP (@num_tf) question_ID
                FROM Questions
                WHERE Crs_ID = @Crs_ID AND Q_Type = 1
                ORDER BY NEWID()
            ) tf_questions

            SELECT @exam_ID as exam_ID
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000);
        DECLARE @ErrorSeverity INT;
        DECLARE @ErrorState INT;

        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();

        RAISERROR (@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[get_exam_questions_with_choices]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[get_exam_questions_with_choices] @Ex_ID int
as
	begin try

		declare @result table
		(Q_Type int,Q_ID int, Q_Code varchar(300), Q_Statement varchar(300), 
		[Answer-1] varchar(300), [Answer-2] varchar(300), 
		[Answer-3] varchar(300), [Answer-4] varchar(300))

		insert into @result
		select Q.Q_Type,Q.Question_ID, Q.Q_Code, Q.Q_Statement, QC.[Answer-1], QC.[Answer-2], QC.[Answer-3], QC.[Answer-4]
		from Exam_Questions EQ inner join Questions Q
		on EQ.Question_ID = Q.Question_ID inner join Question_Choices QC
		on Q.Question_ID = QC.Question_ID
		where EQ.Exam_ID = @Ex_ID and Q.Q_Type = 0

		insert into @result
		select Q.Q_Type,Q.Question_ID, Q.Q_Code, Q.Q_Statement, null, null, null, null
		from Exam_Questions EQ inner join Questions Q
		on EQ.Question_ID = Q.Question_ID
		where EQ.Exam_ID = @Ex_ID and Q.Q_Type = 1

		select ROW_NUMBER() OVER (ORDER BY (SELECT 1)) AS number,* from @result
	end try
	begin catch
		select 'Error'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[get_student_exam_q_with_answers]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 6)
-- Report that takes exam number and the student
-- ID then returns the Questions in this exam with
-- the student answers.
CREATE proc [dbo].[get_student_exam_q_with_answers] @Ex_ID int, @St_ID int
as
	begin try
		select Q.Q_Statement, EA.St_Answer, Q.Model_Answer
		from Exam_Answers EA inner join Questions Q
		on EA.Question_ID = Q.Question_ID
		where Ex_ID = @Ex_ID and St_ID = @St_ID
	end try
	begin catch
		select 'Error'
	end catch
GO
/****** Object:  StoredProcedure [dbo].[get_student_grades]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 2)

--Report that takes the student ID and returns the
--grades of the student in all courses. %

CREATE proc [dbo].[get_student_grades] @id int
as
	begin try
		select C.Crs_ID, C.Cr_Name, I.Ins_Name, SC.St_Grade
		from Stud_Course SC inner join Courses C
		on SC.Crs_ID = C.Crs_ID inner join Instructor I
		on SC.Instructor_ID = I.Ins_ID
		where St_ID = @id and SC.St_Grade is not null

	end try
	begin catch
	end catch
GO
/****** Object:  StoredProcedure [dbo].[get_students_info_by_dept]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[get_students_info_by_dept]  @id INT
AS
	BEGIN TRY
		SELECT * 
		FROM Student
		WHERE Dept_ID = @id
	END TRY

	BEGIN CATCH
		SELECT 'Error'
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[InstructorCourses]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[InstructorCourses]    @id INT
AS
	BEGIN TRY

		SELECT c.Cr_Name , count(sc.st_id) as 'Number of Student'
		FROM Instructor i inner join Ins_Crs ic 
		ON ic.Instructor_ID = i.ins_id
		inner join Courses c
		ON c.Crs_ID = ic. Crs_ID
		inner join Stud_Course sc
		on sc.Instructor_ID = i.Ins_ID and sc.Crs_ID = ic.Crs_ID
		WHERE i.Ins_ID= @id
		group by c.Cr_Name, sc.crs_id

	END TRY

	BEGIN CATCH
		SELECT 'Error'
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[TopicInfo]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TopicInfo] @id INT
AS 
	BEGIN TRY
		SELECT Topic_ID, Topic_Name, Topic_Desc 
		FROM Topic t inner join Courses c
		ON c.Crs_ID = t.Crs_ID
		WHERE t.Crs_ID = @id
	END TRY

	BEGIN CATCH
		SELECT 'Error'
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[usp_get_courses_without_grade]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_get_courses_without_grade] (@St_ID INT)
AS
BEGIN
    SELECT C.Cr_Name, C.Crs_ID
    FROM Courses C
    JOIN Stud_Course SC ON C.Crs_ID = SC.Crs_ID
    WHERE SC.St_ID = @St_ID AND SC.St_Grade IS NULL
END
GO
/****** Object:  StoredProcedure [dbo].[usp_student_login]    Script Date: 2023-01-20 8:25:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_student_login]
    @St_Email VARCHAR(50),
    @password VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Student
    WHERE St_Email = @St_Email AND password = @password
END
GO
